@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Named Color Definitions */
  :root {
    /* Basic Colors */
    --black: 0 0% 0%;
    --white: 0 0% 100%;
    --gray-50: 220 14.3% 95.9%;
    --gray-100: 220 8.9% 46.1%;
    --gray-900: 224 71.4% 4.1%;
    --gray-950: 224 71.4% 4.1%;

    /* Accent Colors */
    --purple: 262.1 83.3% 57.8%;
    --deep-purple: 263.4 70% 50.4%;
    --red: 0 72.22% 50.59%;
    --dark-red: 0 62.8% 30.6%;
    --blue: 220.9 39.3% 11%;
    --dark-blue: 215 27.9% 16.9%;
    --slate-gray: 217.9 10.6% 64.9%;

    /* Light Theme Colors */
    --background: var(--white);
    --foreground: var(--gray-900);
    --card: var(--white);
    --card-foreground: var(--gray-900);
    --popover: var(--white);
    --popover-foreground: var(--gray-900);
    --primary: var(--deep-purple);
    --primary-foreground: var(--white);
    --secondary: var(--dark-blue);
    --secondary-foreground: var(--white);
    --muted: var(--dark-blue);
    --muted-foreground: var(--slate-gray);
    --accent: var(--dark-blue);
    --accent-foreground: var(--white);
    --destructive: var(--dark-red);
    --destructive-foreground: var(--white);
    --border: var(--dark-blue);
    --input: var(--dark-blue);
    --ring: var(--deep-purple);
    --radius: 0.75rem;
  }

  /* Dark Theme Colors */
  .dark {
    --background: var(--gray-950);
    --foreground: var(--white);
    --card: var(--gray-950);
    --card-foreground: var(--white);
    --popover: var(--gray-950);
    --popover-foreground: var(--white);
    --primary: var(--deep-purple);
    --primary-foreground: var(--white);
    --secondary: var(--dark-blue);
    --secondary-foreground: var(--white);
    --muted: var(--dark-blue);
    --muted-foreground: var(--slate-gray);
    --accent: var(--dark-blue);
    --accent-foreground: var(--white);
    --destructive: var(--dark-red);
    --destructive-foreground: var(--white);
    --border: var(--dark-blue);
    --input: var(--dark-blue);
    --ring: var(--deep-purple);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
  .full {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .titleBarIcon{
        width: 22px;
        height: 22px;
    }
}